@import '../../setup';

.photo {
  position: relative;
  border: 2px solid #e1ecf7;
  border-radius: 5px;
  overflow: hidden;

  .photo-container {
    position: relative;

    img {
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
  }

  figcaption {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    abbr {
      text-decoration: none;

      &:hover {
        cursor: help;
      }
    }
  }

  &__img-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    &-btn {
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: $photo-overlay-bg-color;
      border: none;
      outline: none;
      font-size: 3.5rem;
      opacity: 0.75;
    }

    &:hover,
    &:focus-within {
      opacity: 1;
      backdrop-filter: blur(3px);
    }

    @include mobile {
      &-btn {
        cursor: default !important;
        pointer-events: none;
      }

      &:hover,
      &:focus-within {
        opacity: 0;
      }
    }
  }
}
