@import '../../setup';

.photo {
  &__likes {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  &__likes-number {
    font-size: 0.85rem;
    font-weight: 300;
    user-select: none;
  }

  &__likes-btn {
    color: $color-red-300;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;

    &--liked {
      color: darken($color-red-300, 30%);
      position: relative;

      &::after {
        content: '\f7a9';
        font-family: $ff-awesome;
        font-weight: 900;
        font-size: 1.25rem;
        color: $fc-main;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover,
      &:focus {
        &::after {
          opacity: 1;
        }
      }
    }

    &:hover,
    &:focus {
      color: darken($color-red-300, 30%);
    }
  }
}
