@import '../../setup';

.photoview {
  position: fixed;
  display: grid;
  inset: 0;
  z-index: 20;
  background-color: darken(rgba($bg-color, 0.5), 20%);
  backdrop-filter: blur(3px);

  .container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;

    .photoview-title {
      background-color: darken($bg-color, 5%);
      .photoview-btn {
        height: 2rem;
        width: 100%;
        text-align: center;

        &:hover,
        &:focus {
          background-color: darken($bg-color, 15%);
        }
      }
    }

    .photoview-content {
      display: flex;
      justify-content: center;
      max-height: calc(100% - 2rem);

      img {
        object-fit: contain;
        border: 10px solid $bg-color;
      }
    }
  }
}
