@import '../../setup';

.album {
  @include frame;

  &:hover img,
  &:focus-within img {
    filter: grayscale(100%);
    transform: scale(1.05);
  }

  a {
    flex-grow: 1;
    color: $fc-main;
    text-decoration: none;
  }

  figure {
    position: relative;
    font-size: 3rem;
    overflow: hidden;

    img {
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
      transition: all 250ms ease-in-out;
    }

    figcaption {
      position: absolute;
      inset: auto 0 0 0;
      padding: 0.5rem;
      background-color: hsla(220, 27%, 98%, 0.5);
      font-size: 1rem;
      font-weight: 300;
      color: $color-gray-800;
      font-family: 'Merriweather', serif;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      backdrop-filter: blur(2px);
    }
  }
}
