@import '../../setup';

.album-header-container {
  margin-bottom: 1rem;

  .breadcrumb {
    &__list {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    &__list-link {
      width: 1rem;
      color: $fc-main;
      transition: color 300ms ease-in-out;

      &:hover,
      &:focus-visible {
        color: $fc-hover;
      }
    }

    &__list-item {
      font-size: $fs-normal;
    }

    &__list-item--current {
      &::before {
        content: '/ ';
      }
    }
  }
}
