.albums {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 26rem;

  button {
    &:hover {
      text-decoration: underline;
    }

    &[disabled]:hover {
      text-decoration: none;
      cursor: not-allowed;
    }
  }
}
