@import '../../setup.scss';

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: $color-gray-800;
  color: white;

  a {
    all: unset;

    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    padding: 1rem 0.5rem;

    strong {
      font-weight: bold;
    }
  }

  div {
    font-size: 0.8rem;

    button {
      background-color: black;
      height: 100%;
      padding-inline: 1rem;
      margin-left: 0.5rem;
      font-weight: bold;

      &:hover {
        background-color: lighten($color: black, $amount: 10);
      }
    }
  }
}
