@import '../../setup.scss';

.form {
  display: flex;
  flex-direction: column;
  background-color: darken($color: $color-gray-300, $amount: 5);
  padding-top: 1rem;
  border-top: 6px solid $color-gray-800;

  label {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
  }

  input {
    border: none;
    padding: 0.75rem 0.5rem;
    background-color: darken($color: $color-gray-300, $amount: 10);
    border-block: 1px solid $color-gray-800;

    &:focus {
      outline: none;
      background-color: darken($color: $color-gray-300, $amount: 15);
    }
  }

  button {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 1rem 0.5rem;
    background-color: darken($color: $color-gray-300, $amount: 5);

    &:hover {
      background-color: darken($color: $color-gray-300, $amount: 10);
    }
  }
}
