@import '../../setup.scss';

.new-photo {
  display: grid;
  gap: 0.5rem;
  border-top: 3px solid $color-gray-300;
  padding: 1rem 0;

  button {
    padding: 0.5rem 1rem;
    border: 1px solid gray;

    &:hover,
    &:focus {
      background-color: gray;
    }
  }

  img {
    margin-top: 1rem;
  }
}
