@import './reset';
@import './setup';

body {
  min-height: 100vh;
  font-family: $ff-primary;
  background-color: $bg-color;
  color: $fc-main;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding-inline: 2rem;

  @include mobile {
    padding-inline: 0.75rem;
  }

  .container {
    max-width: $media-max-width;
    margin-inline: auto;
  }
}
