@import '../../../setup';

.header {
  padding-inline: 2rem;

  @include mobile {
    padding-inline: 0.75rem;
  }

  h1 {
    font-size: min(10vw, 4rem);
    font-weight: 300;
    margin-block: 2rem;
    user-select: none;

    @include mobile {
      margin-block: 1rem;
    }

    strong {
      font-weight: 700;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus-visible {
        opacity: 0.8;
        outline: none;

        strong {
          text-decoration: underline $color-blue-300 8px;
        }
      }
    }
  }
}

.container {
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}
